@font-face {
    font-family: "Campton-Medium";
    src: url("./Campton-Medium.otf") format("opentype");
  }


  @font-face {
    font-family: "Campton-Black";
    src: url("./Campton-Black.otf") format("opentype");
  }

  @font-face {
    font-family: "Campton-Bold";
    src: url("./Campton-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "Campton-Light";
    src: url("./Campton-Light.otf") format("opentype");
  }

  @font-face {
    font-family: "Campton-SemiBold";
    src: url("./Campton-SemiBold.otf") format("opentype");
  }